*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav_bar{
    background-color: antiquewhite;
}
.menu_bar_left{  
    width: 100%;
    height: 10vh;
    border: 2px solid black;
    display: flex;
    padding: 10px;
    gap: 20px;
}

.menu_bar_left h1{
    text-align: center;
    padding-bottom: 20px;
}
.menu_bar_left i{
    padding: 10px;
    width: 30px;
    display: flex;
    align-items: center;
    font-size: 30px;   
}
.menu_bar_left i:hover{
    transition: color 0.3s ease;
    transform: translateY(-2px);
}
.menu_bar_right{
    display: flex;
    align-items: center;
    text-align: center;
    gap: 80px;
}
.message_box{
    display: flex;
    align-items: center;
    background-color: #444;
    color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 8px 12px;
    gap: 50px;
    font-size: 20px;
    transition: color 0.3s ease;
}
.message_box img{
    width: 40px;
    height: 38px;
    margin: 10px;   
}
.message_box:hover{
    background-color: #444;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    transform: translateY(-2px);    
}
.header{
    display: flex;
    
  

}
.header img{
    object-fit: cover;
    width: 100%;
    height: 90vh;
    overflow: -moz-hidden-unscrollable;
    object-position: center;
}

